.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 16px;
    padding: 0;
    list-style: none;
}


.footer__column-link {
    text-decoration: none;
    color: white;
}

.footer__column-link:hover {
    opacity: .5;
}
